body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #1565c0, white)
}

.box {
    padding: 40px;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 45%; */
    /* height: 100%; */
    /* width: 100%; */
    background: #191919;
    ;
    text-align: center;
    transition: 0.25s;
    border-radius: 24px;
    border: 0px;
    /* margin-top: 100px */
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    /* width: 250px; */
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    width:200px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    /* padding: 14px 40px; */
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box a[type="button"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}

